.whereIAm{
  font-size: 10px;
  margin: 0px 8px;
  position: relative;
  top: -20px;
}

h1{
  text-align: center;
}

.view-container{
  display: grid;
}

.player-banner {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
  display: grid;
  grid-template-rows: 90% 10%;
  justify-items: center;
  align-items: center;
  transition: 1s;
}

.avatar{
  align-self: end;
}


.otherButtons{
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
}
