<span class="whereIAm">
  <a routerLink="/teams">
      Team
  </a>
  >
  <a routerLink="/teams/{{defaultTeamName}}">
    {{defaultTeamName}}
  </a>
  >
  Edit
</span>

<h1>Edit Team</h1>

<div class="spinner-container" *ngIf="!showContent">
  <app-spinner></app-spinner>
</div>

<div class="form-container" *ngIf="showContent">
  <form [formGroup]="teamForm" class="table-row" (ngSubmit)="onSaveForm()">
    <div class="column"><input type="text" formControlName="Nombre del equipo" placeholder="Nombre del equipo"></div>
    <div class="column">
      <select formControlName="Liga">
        <option [value]="defaultLeague.Identificador" *ngIf="defaultLeague" class="defaultTeam" selected="selected">{{defaultLeague["Nombre De La Liga"]}}</option>
        <option *ngFor="let league of leagues" [value]="league.Identificador">{{league['Nombre De La Liga']}}</option>
      </select>
    </div>
    <div class="column"><input type="text" formControlName="Logo de la Liga" placeholder="Logo de la Liga"></div>
    <div class="column"><button type="submit" class="btn-send" [disabled]="!teamForm.valid">Send</button></div>
  </form>
</div>

